name = "x402-meme"
main = "src/index.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]
workers_dev = true

[ai]
binding = "AI"

[vars]
PAYMENT_ADDRESS = "SPKH9AWG0ENZ87J1X0PBD4HETP22G8W22AFNVF8K"
PRICE_SATS = "5000"  # 5000 sats (~$5 at $100k BTC) per meme
